.table__header {
  background-color: #f0f3f7;
  font-size: 13px;
  color: #697180;
}

.header__row {
  display: flex;
  justify-content: space-between;
}

.header__row__column {
  padding: 8px 12px;
  text-align: start;
  text-wrap: nowrap;
}

.header__row__column.num {
  flex-basis: 5%;
}
.header__row__column.type {
  flex-basis: 10%;
}
.header__row__column.date {
  flex-basis: 15%;
}
.header__row__column.auto {
  flex-basis: 10%;
}
.header__row__column.curr {
  flex-basis: 10%;
}
.header__row__column.addr {
  flex-basis: 30%;
}
.header__row__column.desc {
  flex-basis: 20%;
}
